<app-navbaradmin></app-navbaradmin>

<div class="container-flex">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="background-square">
            <div class="square2">
                <h1 class="title">My Loans</h1>
            </div>
            <div class="row justify-content-center flex-grow-1">
                <div class="col-md-8 col-sm-12">
                    <ul class="list-group">
                        <li class="list-group align-items-center mb-2 mt-3">
                            <div class="col-9 col-sm-10 d-flex">  
                                <input 
                                    type="text" 
                                    class="form-control w-100 me-2 flex-grow-1" 
                                    placeholder="Buscar Prestamo..." 
                                    [(ngModel)]="searchQuery"
                                    (input)="buscar()"
                                />
                                <button 
                                    class="btn btn-outline-secondary" 
                                    type="button" 
                                    (click)="buscar()"
                                >
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>


                            </div>
                        </li>

                        <li 
                            class="list-group-item d-flex align-items-center" 
                            *ngFor="let loans of filteredPrestamos"
                        >
                        <div class="user-icon">
                            <i class="bi bi-file-text"></i>
                        </div>
                            <div class="loan-details ms-3 flex-grow-1">
                                <span>Libro: {{ loans.libro_nombre }}</span> 
                                <span>Fecha Venc: {{ loans.fecha_vencimiento }}</span>
                                <span>Estado: {{ loans.estado }}</span>
                                <button
                                *ngIf="loans.estado === 'Finalizado' && !tieneOpinion(loans.id)"
                                class="btn btn-primary"
                                [routerLink]="['/opiniones/addopinion', loans.id]"
                              >
                              <i class="bi bi-star-fill"></i>
                            </button>
                            <button
                                *ngIf="loans.estado === 'Finalizado' && tieneOpinion(loans.id)"
                                class="btn btn-warning btn-sm me-2"
                                [routerLink]="['/opinion/editopinion', loans.id]"
                                style="position: relative;">
                                <i class="bi bi-star-fill" style="color: rgb(255, 255, 255); font-size: 20px;"></i>
                                <i class="fa-solid fa-pen-to-square" style="position: absolute; top: 0; right: 0; color: black; font-size: 12px;"></i>
                                </button>
                            </div>
                        </li>
                    </ul>

                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item" [class.disabled]="currentPage === 1">
                                <a class="page-link" href="#" (click)="changePage(currentPage - 1, $event)">Anterior</a>
                            </li>

                            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
                                <a class="page-link" href="#" (click)="changePage(i + 1, $event)">{{ i + 1 }}</a>
                            </li>

                            <li class="page-item" [class.disabled]="currentPage === totalPages">
                                <a class="page-link" href="#" (click)="changePage(currentPage + 1, $event)">Siguiente</a>
                            </li>
                        </ul>
                    </nav>   
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<app-footer></app-footer>
