<app-navbaradmin></app-navbaradmin>

<div class="container-flex">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="background-square">
            <div class="square2">
                <h1 class="title">All Users</h1>
            </div>
            <div class="row justify-content-center flex-grow-1">
                <div class="col-md-8 col-sm-12">
                    <ul class="list-group">
                        <li class="list-group align-items-center mb-2 mt-3">
    
                            <div class="col-9 col-sm-10 d-flex">  
                                <input 
                                    type="text" 
                                    class="form-control w-100 me-2 flex-grow-1" 
                                    placeholder="Buscar Usuario..." 
                                    [(ngModel)]="searchQuery"
                                    (input)="buscar()"
                                />

                                <button 
                                    class="btn btn-outline-secondary" 
                                    type="button" 
                                    (click)="buscar()"
                                >
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>   
                                
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item" [class.disabled]="currentPage === 1">
                                            <a class="page-link" href="#" (click)="changePage(currentPage - 1, $event)">Anterior</a>
                                        </li>
        
                                        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
                                            <a class="page-link" href="#" (click)="changePage(i + 1, $event)">{{ i + 1 }}</a>
                                        </li>
        
                                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                                            <a class="page-link" href="#" (click)="changePage(currentPage + 1, $event)">Siguiente</a>
                                        </li>
                                    </ul>
                                </nav>
                                
                                <a 
                                    class="btn btn-primary ms-2" 
                                    routerLink="/register"
                                >
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                        </li>

                        <li 
                            class="list-group-item d-flex align-items-center" 
                            *ngFor="let user of filteredUsers"
                        >
                            <div class="user-icon">
                                <i class="fas fa-user-circle"></i>
                            </div>
                            <div class="loan-details ms-3 flex-grow-1">
                                <span>ID: {{ user.id }}</span>
                                <span>Nombre: {{ user.nombre }}</span>
                            </div>
                            <div class="ms-auto">
                                <button 
                                    class="edit-button btn btn-sm me-2" 
                                    (click)="editarusuario(user)"
                                >
                                    <i *ngIf="admin_and_librarian" class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button 
                                    class="delete-button btn btn-sm"
                                    (click)="deleteUsers(user.id)"
                                >
                                    <i class="fa-solid fa-trash"></i>
                                </button>               
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
