<form [formGroup]="addLoansForms">
  <div class="container-flex">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="background-square">
        <div class="square2">
          <h1 class="text">Agregar Prestamo</h1>
        </div>
        <div class="col justify-content-center align-items-center">
          <div class="mb-2">
            <div class="row-md-4">
              <div class="card">
                <div class="mb-3">
                  <label for="prestamo" class="form-label">Estado</label>
                  <input 
                    type="text" 
                    id="prestamo" 
                    formControlName="prestamo" 
                    class="form-control" 
                    placeholder="Estado de prestamo"
                  />
                </div>
                <div class="mb-3">
                  <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
                  <input 
                    type="text" 
                    id="fecha_inicio" 
                    formControlName="fecha_inicio" 
                    class="form-control" 
                    placeholder="Fecha de inicio"
                  />
                </div>
                <div class="mb-3">
                  <label for="fecha_vencimiento" class="form-label">Fecha Vencimiento</label>
                  <input 
                    type="text" 
                    id="fecha_vencimiento" 
                    formControlName="fecha_vencimiento" 
                    class="form-control" 
                    placeholder="Fecha de vencimiento"
                  />
                </div>
                <div class="mb-3">
                  <label for="usuario_id" class="form-label">Id Usuario</label>
                  <input 
                    type="text" 
                    id="usuario_id" 
                    formControlName="usuario_id" 
                    class="form-control" 
                    placeholder="ID usuario asociado"
                  />
                </div>
                <div class="mb-3">
                  <label for="libro_id" class="form-label">Id Libro</label>
                  <input 
                    type="text" 
                    id="libro_id" 
                    formControlName="libro_id" 
                    class="form-control" 
                    placeholder="ID libro asociado"
                  />
                </div>
                <div class="d-grid gap-2">
                  <button 
                    type="button" 
                    (click)="submit()" 
                    class="btn btn-secondary btn-lg signin-btn"
                  >
                    Crear Prestamo
                  </button>
                </div>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 

