


<!-- <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand active">
        <i class="fa-solid fa-book"></i> Biblioteca
      </a>

      </div>
  </nav>
   -->
  
  <nav class="navbar navbar-expand-lg " style="background-color: #92bdda;">
    <div class="container-fluid">
  
        <a class="nav-link d-inline-block" type="button" routerLink="/home" href="#">
          <i class="bi bi-house-heart" style="font-size: 1.5rem;"> Back to Home</i> 
        </a>
        <form class="d-flex">
          <a class="nav-link" routerLink="/login" href="#">
              <i class="bi bi-person-circle" style="font-size: 1.5rem; font-family: Monsterrat, sans-serif;"> Login</i>
          </a>
        </form>
    </div>
  </nav>