
    <footer class="text-white text-center text-lg-start" style="background-color: #648f93;">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
          <!--Grid column-->
          <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Sobre Nosotros</h5>
            <p>
                Letras prestadas es una biblioteca ubicada en Mendoza, Ciudad. Calle Aristides 12.
                nuestro objetivo es fomentar la lectura y el acceso al conocimiento y para ello ofrecemos un amplio catálogo de libros y posibilidades.
            </p>
            <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
            <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
            <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
        </div>
      </div>
    </footer>
    