
    <footer class="text-white text-center text-lg-start" style="background-color: #648f93;">
      <div class="container p-4">
          <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Sobre Nosotros</h5>
            <p>Letras prestadas es una biblioteca ubicada en Mendoza, Ciudad. calle Aristides 12 </p>
            <p>Nuestro objetivo es fomentar la lectura y el acceso al conocimiento y para ello ofrecemos un amplio catálogo de libros y posibilidades.</p>
        </div>
      </div>
    </footer>
    