
<app-navbaradmin></app-navbaradmin>

<div class="container-flex">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="background-square">
            <div class="square2">

                <h1 class="title">All employees</h1>
            </div>
            <!-- Lista con todos los empleados -->
            <div class="row justify-content-center flex-grow-1">
                <div class="col-md-8">
                    <ul class="list-group">

                        <li class="list-group align-items-center mb-2 mt-3">
                            <!-- Formulario de búsqueda y botones -->
                            <!-- EL d-flex pone todos esos elementos en fila -->
                            <div class="col-9 col-sm-10 d-flex">  
                                <input type="text" class="form-control w-100 me-2 flex-grow-1" placeholder="Buscar Empleado..." [(ngModel)]="searchID">
                                <button class="btn btn-outline-secondary" type="button" (click)="searchEmployee()">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#nuevoPrestamoModal">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                         
                        </li>

                        <li class="list-group-item d-flex align-items-center" *ngFor="let employee of filteredEmployees">
                            <div class="user-icon">
                                <i class="fas fa-user-circle"></i>
                            </div>
                            <div class="loan-details ms-3 flex-grow-1">
                                <span>ID Empleado: {{ employee.id }}</span>
                                <span>Nombre: {{ employee.name }}</span>
                            </div>
                            <div class="ms-auto">
                                <button *ngIf="admin_and_bibliotecary" class="edit-button btn btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="delete-button btn btn-sm"><i class="fa-solid fa-trash"></i></button>               
                            </div>
                        </li>


                        <!-- Repite para cada empleado -->
                    </ul>
                    <!-- Termina lista empleados -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<app-footer></app-footer>