<app-navbar></app-navbar>

<div class="container-flex vh-100 d-flex justify-content-center align-items-center">
    <div class="background-square ">
        <div class="col-9 col-md-10">
            <div class="card2">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="card p-3">
                        <img src="../../../assets/harrypotter1.png" class="img-fluid card-img" alt="Harry Potter y la piedra filosofal">
                    </div>
                  </div>
                  <div class="col-md-auto " >
                    <div class="card2">
                    <div class="d-flex flex-column align-items-center">
                        <h2 class="fw-bold">Titulo_libro</h2>
                        <p class="mb-2">Estrellas</p>
                            <div class="star-rating mb-3">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                            </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>


            <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8">
            <h3 class="mt-4">Reseñas</h3>
            <div class="container">
            <div class="review-item mb-3 p-2 rounded">
                <p><strong>Usuario_1</strong> - Pienso que el libro fue muy interesante y tiene una buena trama</p>
                <span class="badge bg-primary">3.5 Estrellas</span>
            </div>
        
            <div class="review-item mb-3 p-2 rounded">
                <p><strong>Usuario_2</strong> - No estuvo tan bueno, era muy predecible</p>
                <span class="badge bg-primary">2 Estrellas</span>
            </div>
        
            <div class="review-item mb-3 p-2 rounded">
                <p><strong>Usuario_3</strong> - Me encantó</p>
                <span class="badge bg-primary">5 Estrellas</span>
            </div>
            </div>
        
            <h4 class="mt-4">¿Quieres agregar tu reseña?</h4>
            <textarea class="form-control" rows="3" placeholder="Deja tu opinión aquí..."></textarea>

        </div>
    </div>
</div>

  