<div class="container">
  <h2>Deja tu opinión sobre este préstamo</h2>

  <form (ngSubmit)="addOpinion()">
    <div class="form-group">
      <label for="comentario">Comentario</label>
      <textarea
        id="comentario"
        [(ngModel)]="comentario"
        name="comentario"
        class="form-control"
        placeholder="Escribe tu comentario aquí"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="valoracion" class="form-label">Valoración</label>
      <select
        id="valoracion"
        class="form-select"
        [(ngModel)]="valoracion"
        name="valoracion"
        required
      >
        <option *ngFor="let valor of [1, 2, 3, 4, 5]" [value]="valor">
          {{ valor }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Enviar Opinión</button>
  </form>
</div>
