<form [formGroup]="signupForm">
    <div class="col justify-content-center align-items-center">
      <div class="mb-2">
        <div class="row-md-4">
          <div class="card">
            <div class="card-body">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese su nombre">
              </div>
              <div class="mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="text" formControlName="telefono" class="form-control" placeholder="Ingrese su telefono">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Ingrese su contraseña">
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirme su contraseña">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control" placeholder="Ingrese su email">
              </div>
              <div class="text-danger" *ngIf="!signupForm.valid && signupForm.touched">
                Por favor, llena todos los campos correctamente
              </div>
              <div class="d-grid gap-2">
                <button type="button" (click)="submit()" class="btn btn-secondary btn-lg signin-btn">Crear Cuenta</button>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </form>
  