


<div class="container-flex">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="background-square">
            <a type="button" href="welcome.html" class="btn  square bg-succes ">
              <div class="text">Crear cuenta
              </div></a>
                <div class="col justify-content-center aling-items-center">
                  <div class="mb-2">
                      <div class="row-md-4">
                          <div class="card">
                              <div class="card-body">
                                  <form>
                                      <div class="mb-3">
                                          <label for="email" class="form-label">Correo electrónico</label>
                                          <input type="email" class="form-control" id="email" placeholder="Ingrese correo electrónico">
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="mb-2">
                      <div class="row-md-3">
                          <div class="card">
                              <div class="card-body">
                                  <div class="mb-3">
                                      <label for="password" class="form-label">Nombre de usuario</label>
                                      <input type="password" class="form-control" id="password" placeholder="Ingrese nombre de usuario">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="mb-2">
                      <div class="row-md-3">
                          <div class="card">
                              <div class="card-body">
                                  <div class="mb-3">
                                      <label for="password" class="form-label">Contraseña</label>
                                      <input type="password" class="form-control" id="password" placeholder="Ingrese contraseña">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="mb-2">
                      <div class="row-md-3">
                          <div class="card">
                              <div class="card-body">
                                  <div class="mb-3">
                                      <label for="password" class="form-label">Confirme su contraseña</label>
                                      <input type="password" class="form-control" id="password" placeholder="Confirme su contraseña">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="d-grid gap-2">
                      <a type="botton" href="index.html" class="btn btn-secondary btn-lg signin-btn">Sign Up</a>
                  </div>
              </div>    
          </div>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>