body, html {
  height: 100%;
  margin: 0;
  background-color: #ddf8fa;
}

.background-image {
  position: relative;
  overflow: hidden;
  background-image: url('fondo_biblioteca.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 95%; 
  width: 90%;
  display: flex;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  z-index: 1;
}

.square {
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 80%;
  width: 100%;
  height: 30%;
  display: flex;
  background-image: linear-gradient(to right, #708BD0, #98a0ce);
  z-index: 2;
} 

.text {
  color: white;
  font-size: 45px;
  margin-top: 115px;
  font-weight: bold;
  text-align: center;
  z-index: 3;
}

.ellipse {
  position: absolute;
  align-items: center;
  justify-content:center;
  bottom: 0;
  width: 100%;
  height: 50%;
  display: flex;
  background-image: linear-gradient(to right, #708BD0, #98a0ce);
  border-radius: 100% 0% 0% 0%;
  z-index: 1;
}

.card {
  background-color: #ddf8fa;
  height: 70%;
  width: 100%;
  border-radius: 20px;
}

.background-square {
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #9ACED2, #708bd0);
  height: 90%; 
  width: 80%;
  display: flex;
  border-radius: 50px;
  z-index: 1;
}

.bg-succes {
  background-image: linear-gradient(to top, #98a0ce, #708bd0);
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 250px;
}

.login-btn, .signin-btn {
  border-radius: 20px;
  padding: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  width: 100%;
  background-color: #9DD9D2;
}

.options-btn, .font-index {
  border-radius: 100px;
  padding: 15px;
  font-size: 1.70rem;
  font-weight: bold;
  width: 100%;
  font-family: 'Jockey One', sans-serif;
  color: black;
  background-color: #DDF8FA;
}

.menu-btn{
  border-radius: 100px;
  height: 37px;
  font-size: 1.70rem;
  font-weight: bold;
  font-family: 'Jockey One', sans-serif;
  color: white;
}


body, html {
  height: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.background-image-index {
  background-image: url('fondo_biblioteca.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 30vh;
  padding: 80px 0; /* Agregar un espacio arriba y abajo */
}

.card-img-top {
  width: 20%;
  max-height: 30px;
  object-fit: cover;
}


.rounded-rectangle {
  background: linear-gradient(180deg, #9DD9D2 -31.8%, #98A0CE 100%);
  width: 600px; 
  height: 800px;
  border-radius: 20px; 
  margin: 20px auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.montserrat{
font-family: Montserrat;
color: "white";
}

