

<div class="container-flex">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="background-square">
            <div class="square2">
                <h1 class="text">Iniciar Sesión</h1>
            </div>
            <form [formGroup]="loginForm">
                <div class="col justify-content-center align-items-center">
                    <div class="mb-2">
                        <div class="row-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Correo electrónico</label>
                                        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Tu correo electrónico">
                                    </div>
                                    <div class="mb-2">
                                        <label for="password" class="form-label">Contraseña</label>
                                        <input type="password" class="form-control" formControlName="password" id="password" placeholder="Tu contraseña">
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button type="button" (click)="submit()" href="#" class="btn btn-secondary btn-lg login-btn">Ingresar</button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 



     