<app-navbaradmin></app-navbaradmin>

<div class="container-flex">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="background-square">
            <div class="square2">
                <h1 class="title">All Books</h1>
            </div>
            <div class="row justify-content-center flex-grow-1">
                <div class="col-md-8 col-sm-12">
                    <ul class="list-group">
                        <li class="list-group align-items-center mb-2 mt-3">
    
                            <div class="col-9 col-sm-10 d-flex">  
                                <input 
                                    type="text" 
                                    class="form-control w-100 me-2 flex-grow-1" 
                                    placeholder="Buscar Libro..." 
                                    [(ngModel)]="searchQuery"
                                    (input)="buscar()"
                                />

                                <button 
                                    class="btn btn-outline-secondary" 
                                    type="button" 
                                    (click)="buscar()"
                                >
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>   
                                
                                <nav aria-label="Page navigation">
                                    <ul class="pagination mb-0">
                                        <li class="page-item" [class.disabled]="currentPage === 1">
                                            <a class="page-link" href="#" (click)="changePage(currentPage - 1, $event)">Anterior</a>
                                        </li>
        
                                        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
                                            <a class="page-link" href="#" (click)="changePage(i + 1, $event)">{{ i + 1 }}</a>
                                        </li>
        
                                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                                            <a class="page-link" href="#" (click)="changePage(currentPage + 1, $event)">Siguiente</a>
                                        </li>
                                    </ul>
                                </nav>
                                
                                <a 
                                *ngIf="admin_and_librarian"    
                                class="btn btn-primary ms-2" 
                                    routerLink="/libros/addbooks"
                                >
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                        </li>

                        <li 
                            class="list-group-item d-flex align-items-center" 
                            *ngFor="let book of filteredBooks"
                        >
                            <div class="book-icon">
                                <img 
                                  [src]="book.imagen_url || 'ruta-de-imagen-predeterminada.jpg'" 
                                  alt="Imagen del libro" 
                                  class="book-image" 
                                  width="50" 
                                  height="75"
                                />
                            </div>
                            <div class="loan-details ms-3 flex-grow-1">
                                <span>IdLibro: {{ book.id }}</span>
                                <span>Nombre: {{ book.nombre }}</span>
                            </div>
                            <div class="ms-auto">
                                <button 
                                    *ngIf="admin_and_librarian"    
                                    class="edit-button btn btn-sm me-2" 
                                    (click)="editarlibro(book)"
                                >
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button 
                                    *ngIf="admin_and_librarian" 
                                    class="delete-button btn btn-sm"
                                    (click)="deleteBook(book.id)"
                                >
                                    <i class="fa-solid fa-trash"></i>
                                </button>               
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
