body {
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header-image {
    width: 100%; 
    height: auto; 
  }
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2.7rem;
    font-family: "Jockey One", sans-serif;
    font-weight: bold;
    margin-top: 40px;
    z-index: 3;
  }
  
  .list-group {
    margin-top: 20px; 
  }

  .row.justify-content-center.flex-grow-1 {
    margin-top: 100px; 
  }
  
  .list-group-item {
    background-color: var(--senary-color);
    border-color: var(--senary-color);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 15px;
  }
  
  
  .loan-details {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    color: #333;
    align-items: center; 
    font-weight: bold;
  }
  
  
  .loan-details span {
    margin-right: 60px; 
  }
  
  .loan-details span:last-child {
    margin-right: 0; 
  }
  
  .loan-details span:first-child {
    margin-left: 20px; 
  }
  
  .user-img {
    width: 50px; 
    height: 50px; 
  
  }
  
  .user-icon {
    font-size: 50px; 
    color: #333; 
  }

  .square3 {
    font-size: 50px; 
    color: #333; 
  }

  .loan-details {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    align-items: center; 
  }
  
  
  .square {
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 80%;
    width: 100%;
    height: 30%;
    display: flex;
    background-image: linear-gradient(to right, #708BD0, #98a0ce);
    z-index: 2;
    object-fit: cover;
  } 
  
  .square2 {
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 80%;
    width: 100%;
    height: 30%;
    display: flex;
    background-image: url('../../../assets/header.jpg'); 
    background-size: cover; 
    background-position: center; 
    z-index: 2;
    object-fit: cover;
    flex-direction: column;
    border-radius: 50px;
  }  

  .background-square_top {
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #8aaf4d, #708bd0);
    height: 90%; 
    width: 70%;
    display: flex;
    border-radius: 50px;
    z-index: 1;
    padding: 0px;
  }
  
  .position-relative {
    position: relative;
  }
  
  .text {
    color: white;
    font-size: 45px;
    margin-top: 115px;
    font-weight: bold;
    text-align: center;
    z-index: 3;
  }
  
  .ellipse {
    position: absolute;
    align-items: center;
    justify-content:center;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    background-image: linear-gradient(to right, #708BD0, #98a0ce);
    border-radius: 100% 0% 0% 0%;
    z-index: 1;
  }
  


    
  .card {
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    height: auto;
    width: 80px;
  }

  .card img {
    max-width: 100%; 
    height: auto;    
    border-radius: 10px; 
    width: 150px;
}
    
  .background-square {
    position: relative;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #9ACED2, #708bd0);
    height: 90%; 
    width: 80%;
    display: flex;
    border-radius: 50px;
    z-index: 1;
    padding: 0px;
  }

  .background-square .row {
    margin-top: 300px;
  }
  .bg-succes {
    background-image: linear-gradient(to top, #98a0ce, #708bd0);
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 250px;
  }
  
  .login-btn, .signin-btn {
    border-radius: 20px;
    padding: 15px;
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    background-color: #9DD9D2;
  }
  
  .carousel-container, .carousel-container2 {
    max-width: 900px;
    margin: 20px auto;
  }
  
  .carousel-title {
    text-align: left;
    font-size: 2.7rem;
    font-family: "Jockey One", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .carousel-subtitle {
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: weight;
    font-style: normal;
    color: #172533;
    margin-bottom: 0.1px;
  }
  
  .carousel-item img {
    max-height: 250px;
    object-fit: contain;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    filter: invert(100%);
  }

  .edit-button {
    background-color: var(--primary-color); 
    color: white; 
  }
  
  .delete-button {
    background-color: var(--secondary-color); 
    color: white; 
  }
  
  @media (max-width: 768px) {


    .background-square .row{
        margin-top: 250px;
        height: 90%;
    }
}