<app-navbar></app-navbar>

<div class="container vh-100 d-flex flex-column justify-content-between">
    <header class="position-relative my-4">
        <img src="https://cdn.pixabay.com/photo/2016/11/21/15/18/books-1841225_1280.jpg" alt="Libros de Biblioteca" class="img-fluid header-image">
        <h1 class="position-absolute title">All Loans</h1>
    </header>
    
    <div class="row justify-content-center flex-grow-1">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center">
                    <div class="user-icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="loan-details ms-3 flex-grow-1">
                        <span>ID User: 123</span>
                        <span>ID Book: 456</span>
                        <span>ID Loan: 789</span>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <div class="user-icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="loan-details ms-3 flex-grow-1">
                        <span>ID User: 123</span>
                        <span>ID Book: 456</span>
                        <span>ID Loan: 789</span>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <div class="user-icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="loan-details ms-3 flex-grow-1">
                        <span>ID User: 123</span>
                        <span>ID Book: 456</span>
                        <span>ID Loan: 789</span>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <div class="user-icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="loan-details ms-3 flex-grow-1">
                        <span>ID User: 123</span>
                        <span>ID Book: 456</span>
                        <span>ID Loan: 789</span>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <div class="user-icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="loan-details ms-3 flex-grow-1">
                        <span>ID User: 123</span>
                        <span>ID Book: 456</span>
                        <span>ID Loan: 789</span>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <div class="user-icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="loan-details ms-3 flex-grow-1">
                        <span>ID User: 123</span>
                        <span>ID Book: 456</span>
                        <span>ID Loan: 789</span>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li><li class="list-group-item d-flex align-items-center">
                    <div class="user-icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="loan-details ms-3 flex-grow-1">
                        <span>ID User: 123</span>
                        <span>ID Book: 456</span>
                        <span>ID Loan: 789</span>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
    
                <!-- Repite para cada préstamo -->
            </ul>
        </div>
    </div>
</div>
