body {
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-image {
  width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}
.title {
  color: white; /* Color del texto */
  font-size: 3rem; /* Tamaño de la fuente */
  top: 50%; /* Ajusta la posición vertical */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Centra verticalmente */
  position: absolute; /* Permite posicionarlo sobre la imagen */
  text-align: center; /* Centra el texto */
}

.row.justify-content-center.flex-grow-1 {
  margin-top: 100px; 
}

.list-group-item {
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 15px;
}

.loan-details {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Ajusta este valor para más o menos separación */
  color: #333;
  align-items: center; /* Alinea verticalmente los textos */
  font-weight: bold;
}

.loan-details span {
  margin-right: 60px; /* Espacio a la derecha de cada span */
}



.loan-details span:first-child {
  margin-left: 50px; /* Elimina el margen derecho del último span */
}

.user-img {
  width: 50px; 
  height: 50px; 

}

.user-icon {
  font-size: 50px; /* Tamaño del ícono */
  color: #333; /* Color del ícono */
}
.loan-details {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Espacio entre los spans */
  align-items: center; /* Alineación vertical */
}